<!--The content below is only a placeholder and can be replaced.-->
<!-- <div class="container head-title">
        <h4 class="display-4 text-center">E-Commerce</h4>
        
</div> -->



<router-outlet></router-outlet>

<!-- <div class="footer-copyright" style="margin-top:550px;">
        <div class="col-sm-12" align="middle">
         <div class="container">
            <div class="row">
              <hr>
              <div class="container-fluid" align="middle">
                <p>©<a href="https://www.dialog.lk/">Dialog Axiata PLC</a>. All rights reserved</p>
              </div>
            </div>
          </div>
        </div>
</div> -->
      